<div id="<%= dom_id tweet %>">

  <div class="card mt-5">
    <div class="card-header d-flex justify-content-between align-items-center"> 
      <h5 class="mb-0"><%= tweet.username %></h5>
      <p class="mb-0"><%= tweet.created_at.in_time_zone("Santiago").strftime("%H.%M hrs") %></p>
    </div>
  
    
    <div class="card-body">
      <p class="card-text"><%= tweet.description %></p>     

</div>
