<h1 class="text-center mt-4 mb-3">Editing tweet</h1>

<%= render "form", tweet: @tweet %>

<br>

<div class="d-flex justify-content-center">
  <%= link_to "Back to tweets", tweets_path, class: "btn btn-info text-white mx-1" %>
  <%= link_to "Show this tweet", @tweet, class: "btn btn-info text-white mx-1" %> 
  
</div>
