<h1 class="text-center mt-4 mb-3">New tweet</h1>

<div class="">
  <%= render "form", tweet: @tweet %>

<br>

<div class="text-center">
  <%= link_to "Back to tweets", tweets_path, class: "text-white btn btn-info mt-2" %>
</div>


</div>
